.Searchbar {
    display: flex;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .SearchFormInput {
    display: inline-block;
    font: inherit;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .SearchFormInput:focus {
    outline: none;
    border: 2px solid #1976d2;
  }